<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.sanketh.dcguide">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.PlacesActivity" />
        <activity
            android:name=".Activities.PlaceDetailsActivity"
            android:parentActivityName=".Activities.PlacesActivity" />
        <activity android:name=".Activities.HotelsActivity" />
        <activity
            android:name=".Activities.HotelDetailsActivity"
            android:parentActivityName=".Activities.HotelsActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".Activities.RestaurantActivity" />
        <activity
            android:name=".Activities.RestaurantDetails"
            android:parentActivityName=".Activities.RestaurantActivity" />
        <activity android:name=".Activities.ShoppingActivity" />
        <activity android:name=".Activities.ShoppingDetailsActivity"
            android:parentActivityName=".Activities.ShoppingActivity"/>
    </application>

</manifest>